<ion-content [fullscreen]="true">

    <ion-row class="ion-text-center">
        <ion-col>
            <img class="img-50" *ngIf="!imagenTemp" [src]="medico.img| imagen:'medico'">
            <img class="img-50" *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
            <!--<img src="assets/avatars/av-1.png"> -->
        </ion-col>


    </ion-row>

    <ion-row>
        <ion-col size="6">
            <ion-button expand="full" shape="round" (click)="camara(medico)">
                <ion-icon slot="start" name="camera"></ion-icon>
                Cámara
            </ion-button>
        </ion-col>


        <ion-col size="6">
            <ion-button expand="full" shape="round" (click)="galeria(medico)">
                <ion-icon slot="start" name="camera"></ion-icon>
                Galeria
            </ion-button>
        </ion-col>
    </ion-row>


    <form (ngSubmit)="actualizarMedico( fActualizar.value )" #fActualizar="ngForm">
        <ion-row>
            <ion-col>

                <ion-list>


                    <ion-item>
                        <ion-label>Nombre</ion-label>
                        <ion-input [(ngModel)]="medico.nombre" class="form-control" name="nombre" type="text" placeholder="coloque el nombre del Hospital" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{medico.hospital.nombre}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label>Seleccione</ion-label>
                        <ion-select ok-text="Okay" cancel-text="Nah" value="Notification" [(ngModel)]="medico.hospital" name="hospital">
                            <ion-select-option value="">Seleccione un Hospital</ion-select-option>
                            <ion-select-option *ngFor="let hospital of hospitales" value="{{hospital._id}}">{{hospital.nombre}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
            <ion-col>
                <ion-button type="submit" color="tertiary" shape="round">
                    Actualizar Hospital
                </ion-button>
            </ion-col>
        </ion-row>

    </form>


</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>