<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Inicio
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf="role === 'ADMIN_ROLE' ">
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirecto" detail>
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{c.name}}</ion-label>
        </ion-item>

        <ion-item routerLink="/main/tabs/tab2">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>Usuarios</ion-label>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="role === 'USER_ROLE' ">
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirecto" detail>
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{c.name}}</ion-label>
        </ion-item>

    </ion-list>



</ion-content>