<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Materiales
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        Compartir
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <!-- Esto es para mostrar los mensajes a la vista-->
      <ion-textarea ></ion-textarea>
    </ion-item>

   


  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="camara()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galerí­a
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>